<div class="row">
	<div class="span8">

		<div class="row">

			<div class="span8">
				<div class="page-header">
		    <a href="#"><h2>Serviços<small> Mecânica, Lanternagem, Alinhamento...</small></h2></a>
		    </div>
				<a href="#" class="thumbnail">
					<img src="assets/servicos_home.jpg" alt="">
				</a>
				<div class="page-header">
		    <h2>Peças Novas e Salvas<small> Para todos os modelos nacionais e importados</small></h2>
		    </div>
				<a href="#" class="thumbnail">
					<img src="assets/pecas_home.jpg" alt="">
				</a>
				<hr>
			</div>

			<div class="span4">
				
				<div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" width="70px" src="assets/icon_keys.png">
          </a>
          <div class="media-body">
            <a href="#"><h4 class="media-heading">Compra e Venda de Carros</h4></a>
            <p>Anuncie e encontre carros semi-novos e usados</p>
          </div>
				</div>
				<hr>
				<div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" width="70px" src="assets/reminders.png">
          </a>
          <div class="media-body">
            <a href="#"><h4 class="media-heading">tabela FIPE</h4></a>
            Anuncie e encontre carros semi-novos e usados
          </div>
				</div>
				
				
			</div>
			
			<div class="span4" style="background-color:#f2f2f2">
				<p style="text-align:center">
					<object type="application/x-shockwave-flash" data="http://www.revistaplanetaagua.com.br/banner_250x250px.swf" height="250" width="250">
					  <!--<![endif]-->
					  <param name="quality" value="high">
					  <param name="wmode" value="opaque">
					  <param name="swfversion" value="7.0.70.0">
					  <param name="expressinstall" value="Scripts/expressInstall.swf">
					  <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
					  <div>
					    <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
					    <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" height="33" width="112"></a></p>
					 </div>
					 <!--[if !IE]>-->
					</object>
				</p>
			</div>
				
		</div>
		

	</div>

	<div class="span4">
		<iframe width="100%" height="300px" src="http://www.youtube.com/embed/-I5C9oKwlgg?list=PL2EDEC8895AF39D1D&amp;hl=en_US" frameborder="0" allowfullscreen></iframe>

		<hr/>

		<ul class="thumbnails">
		  <li class="span4">
		    <a href="#" class="thumbnail">
		      <img src="assets/nasa_veiculos.png">
		    </a>
		  </li>
		  <li class="span4">
		    <a href="#" class="thumbnail">
		      <img src="assets/jaicar.png">
		    </a>
		  </li>
		  <li class="span4">
		    <a href="#" class="thumbnail">
		      <img src="assets/autoeste.jpeg">
		    </a>
		  </li>
		  <li class="span4">
		    <a href="#" class="thumbnail">
		      <img src="assets/nasa_kia.png">
		    </a>
		  </li>
		</ul>

	</div>

</div> <!-- End row -->